* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Kelly Slab";
    src: url("/fonty/KellySlab-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonty/Ubuntu-Regular.ttf");
}

body {
    font-weight: 100;
    background-attachment: fixed;
    background-image: linear-gradient(120deg, #320271, #710a3f);

    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.650);
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 80px));
}

header > img {
    width: 165px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 120px));
    border-radius: 50%;
    -webkit-user-drag: none;
    user-select: none;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px 9px 1px #00000077;
}

section > h1 {
    letter-spacing: 2.5px;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-family: "Kelly Slab";
    width: max-content;
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

section > p {
    margin: 8px auto;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: center;
    position: relative;
    top: -15px;
}

section > p a {
    color: rgb(120, 226, 255);
    text-decoration: none;
    transition: all 0.15s;
}

section > p a:hover {
    color: rgb(20, 126, 155);
    text-decoration: none;
}

section > nav {
    position: relative;
    margin: 0 auto;
    text-align: center;
    min-width: 50%;
    max-width: 85%;
}

section > nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.82rem;
    font-family: "Ubuntu";
    margin: 0 5px;
    padding: 2px;
    transition: all 0.15s;
    line-height: 30px;
    min-width: max-content;
    white-space: nowrap;
}

section > nav a:hover {
    color: rgb(124, 185, 242);
}

footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-size: 0.85rem;
    font-weight: normal;
}

@media screen and (max-width: 320px) {
    header > img {
        width: 110px;
        transform: translate(-50%, calc(-50% - 40px));
    }

    section > h1 {
        font-size: 2rem;
    }

    section > p {
        font-size: 0.7rem;
    }

    section > nav a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 220px) {
    header > img {
        width: 80px;
        transform: translate(-50%, calc(-50% - 45px));

    }

    section > h1 {
        font-size: 1.5rem;
    }

    section > p {
        font-size: 0.5rem;
    }

    section > nav a {
        font-size: 0.58rem;
        display: block;
        margin: 8px auto;
    }
}